
/* AJUSTES GERAIS */

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: #B8B6AB;
    --cor1: #9E896F; 
    --cor2: #652224;
    --cor3: #362E24;
    --cor4: #0D0D0D;
}

@font-face {
    font-family: 'font1';
    src: url(Midia/Fontes/CenturyGothicPaneuropeanRegular.ttf);
}

@font-face {
    font-family: 'font2';
    src: url(Midia/Fontes/CenturyGothicPaneuropeanBold.ttf);
}

body{
    background-image: url(Midia/Imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}

main{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}



/* PERSONAGEM */

div.personagem{
    background-image: url(Midia/Imagens/personagem.mp4);
    height: 900px;
    width: 600px;
    position: absolute;
    display: flex;
    left: 60%;
    top: 3%;
}

.personagemGif{
    z-index: 3;
}



/* CONTEINER */

div.conteinerLobby{
    height:100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
}



/* TITULO */

div.textoLobby{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

h1.h1Lobby{
    color: var(--cor2);
    font-size: 100px;
    font-family: 'font2';
}

p.pLobby{
    font-family: 'font2';
    font-size: 20px;
    letter-spacing: 10px;
    margin-top: -25px;
}



/* CAIXA VERMELHA */

div.caixaLobby{
    height:550px;
    width: 1100px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 20px;
    background-image: url(Midia/Imagens/caixaLobby.png);
}



/* INPUTS */

div.inputLobby{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin-bottom: 35px;
}

div.input{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    padding-left: 20px;
}

input[type=text]{
    color: var(--cor2);
    font-family: 'font2';
    font-size: 20px;
}


.inputTxt{
    font-family: 'font2';
    font-size: 25px;
    color: var(--cor0);
    margin-left: 55px;
}

/* input nome */
.inputTxt.nome{
    margin-top: 75px;
}

.inputNome{
    position: relative;
    width: 900px;
    height: 60px;
    background-color: rgba(255, 0, 255, 0);
    border-radius: 40px;
    margin-left: 50px;
    border: none;
    outline: none;
}

/* input código */
.inputTxt.cod{
    margin-top: 35px;
}

.inputCod{
    position: relative;
    width: 900px;
    height: 60px;
    background-color: rgba(255, 0, 255, 0);
    border-radius: 40px;
    margin-left: 50px;
    border: none;
    outline: none;
}



/* BOTOES */

.botoesLobby{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

button.lobby{
    position: relative;
    display: flex;
    width: 300px;
    height: 50px;
    background-color: var(--cor0);
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.txtButton{
    font-family: 'font2';
    font-size: 30px;
}